@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-text : #000000;

  --secondary-text : #ffffff;

  --bg-color : #ffffff;
--bg-color-secondary : #000000;

--bg-btn : #bbc625;
--bg-btn-hover : #A5B400;
--bg-btn-secondary: #F0F2CE;
}


.middle-box{

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: fit-content;
}

.btn-one{

  border-radius: 16px;
  background-color: var(--bg-btn);
  color: var(--secondary-text);
  padding: 10px 50px;
  width: 100%;
}


.btn-one:hover{

  background-color: var(--bg-btn-hover);
}

.btn-confirm{
  border-radius: 16px;
  background-color: var(--bg-btn);
  color: var(--secondary-text);
  padding: 5px 20px;
  margin: 0 10px;
  
}

.btn-confirm:hover{

  color: var(--bg-btn-hover);
  border: 1px solid var(--bg-btn-hover);
  background-color: unset;
}

/*sign*/

.sign-box{

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 
  0 1px 3px rgba(0, 0, 0, 0.4); /* Smooth, layered shadow */
  min-width: 350px;
  border-radius: 16px;
  padding: 20px;
}

.input-container {
  position: relative;
  margin: 20px 0;
  display: flex;
}
.input-container button{
  border-radius: 4px;
}
.input-container input {
  width: 100%;
  padding: 8px 12px;
  padding-top: 10px 20px;
  font-size: 16px;
  border: 2px solid #d4cfcf;
  background-color:var(--bg-color);
  border-radius: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-container input:focus {
  border-color: var(--bg-btn-hover);
}

.input-container span {
  position: absolute;
  top: 50%;
  left: 12px;
  font-size: 14px;
  color: var(--primary-text);
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.input-container input:focus + span,
.input-container input:not(:placeholder-shown) + span {
  top: 0;
  font-size: 12px;
  background-color:var(--bg-color);
  color: var(--bg-btn-hover);
}

.resend--code{

  color: var(--bg-btn);
  border: 1px solid var(--bg-btn);
  outline: 1px solid var(--bg-btn-hover);
  padding: 5px 15px;
  border-radius: 15px;
  width: 100%;
}

.toaster {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50; /* Green color for success */
  color: white;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  visibility: hidden;
  z-index: 10;
}

.toaster.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

/*home*/

.search-box {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 250px;
  transition: width 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

/* Expand the search box on focus */
.search-box:focus-within {
  width: 350px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.2);
}

.search-box input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  color: black;
}

.search-box .icon {
  position: absolute;
  right: 15px;
  width: 24px;
  height: 24px;
  fill: black; /* SVG fill color is black */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

/* Show icon on focus */
.search-box input:focus + .icon {
  visibility: visible;
  opacity: 1;
}



.status--container{
  display: flex;
  margin: 0 auto;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox: Hide scrollbar */
  -ms-overflow-style: none;  /* IE and Edge: Hide scrollbar */
  width: 100%; /* Set a fixed width to make scrolling necessary */
  justify-content: center;
}

.online-status{

  margin: 5px 10px;
  position: relative;
  flex: 0 0 auto; /* Prevents shrinking of child elements */

}

.online-status img{

  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.online-status p{

 text-align: center;
 margin: 4px 0;
}

.online-status::after{
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--bg-btn-hover);
  border-radius: 50%;
  right: 10px;
  top: 50px;
}

.chat-item{
  display: flex;
  align-items: center;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.075), 0 3px 6px rgba(0, 0, 0, 0.05);
  border-radius: 22px;
  margin: 16px 0;
  cursor: pointer;
}

.add-chat{

  position:fixed;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: var(--bg-btn);
  width: 70px;
  height: 70px;
  bottom:20px;
  right: 20px;
  z-index: 10;
}


/*sidebar*/

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f4f6fa;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 30;
  width: 220px;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
 
  
}
.sidebar--active {
  transform: translateX(0);
}

.sidebar-logo {
  display:flex;
  align-items: center;
  justify-content:space-between;
  height: 70px;
  width: 100%;
  padding: 0 19px  ;
  margin-top: 10px;
}

.sidebar-logo svg {
 cursor: pointer;

}



.sidebar-content{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 30px 0 0;
  width: 100%;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

.sidebar-item{
  width: 100%;
  display: flex;
  margin-bottom: 20px;

  position: relative;
  flex-direction: column;

}
.sidebar-item:last-child{
  margin: 0;
  vertical-align: middle;
}


.sidebar-item:last-child.drop--active{

  max-height:100%;
  padding-top: 10px;
  overflow-y: scroll;
  scrollbar-width: thin;
  
}



.sidebar-item:last-child a{
  margin-bottom: 20px;
  font-size: 15px;
}


.sidebar-item:last-child a:hover{
  color: var(--bg-btn-hover);
}

.sidebar-item:hover svg{
  
  fill: var(--bg-btn-hover);
}

.sidebar-item:hover #toggleIcon{
  stroke: var(--bg-btn-hover);
  fill: none;
}
.sidebar-item:not(:last-child):hover a{
  color: var(--bg-btn-hover);
}
.sidebar-item a{

  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  color: #000000;
  font-family: 'Inter', sans-serif;
  margin-left: 15px;
  transition: 0.4s ease;
  position: relative;
  font-weight: bold;
}

.sidebar-item svg{

 
  transition: fill 0.5s;
  margin-right: 12px;
  margin-bottom: 2px;
  
}

.sidebar-item .item-active{

  color: var(--bg-btn-hover);
}

.sidebar-link{

  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  color: #000000;
  font-family: 'Inter', sans-serif;
  margin-left: 15px;
  transition: 0.4s ease;
  position: relative;
}

.signature{

  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1rem;
  font-weight: bold;
 width: 100%;
 padding: 13px 20px; 
 background-color: rgba(255, 255, 255,0.3);
}

.signature span{

  font-size: 0.8rem;
}