@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-text : #000000;

  --secondary-text : #ffffff;

  --bg-color : #ffffff;
--bg-color-secondary : #000000;

--bg-btn : #bbc625;
--bg-btn-hover : #A5B400;
--bg-btn-secondary: #F0F2CE;
}


.middle-box{

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: max-content;
}

.btn-one{

  border-radius: 16px;
  background-color: var(--bg-btn);
  color: var(--secondary-text);
  padding: 10px 50px;
  width: 100%;
}

.btn-one:hover{

  background-color: var(--bg-btn-hover);
}

/*sign*/

.sign-box{

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 
  0 1px 3px rgba(0, 0, 0, 0.4); /* Smooth, layered shadow */
  min-width: 350px;
  border-radius: 16px;
  padding: 20px;
}

.input-container {
  position: relative;
  margin: 20px 0;
  display: flex;
}
.input-container button{
  border-radius: 4px;
}
.input-container input {
  width: 100%;
  padding: 8px 12px;
  padding-top: 10px 20px;
  font-size: 16px;
  border: 2px solid #d4cfcf;
  background-color:var(--bg-color);
  border-radius: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-container input:focus {
  border-color: var(--bg-btn-hover);
}

.input-container span {
  position: absolute;
  top: 50%;
  left: 12px;
  font-size: 14px;
  color: var(--primary-text);
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.input-container input:focus + span,
.input-container input:not(:placeholder-shown) + span {
  top: 0;
  font-size: 12px;
  background-color:var(--bg-color);
  color: var(--bg-btn-hover);
}

/*home*/

.search-box {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 250px;
  transition: width 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

/* Expand the search box on focus */
.search-box:focus-within {
  width: 350px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.2);
}

.search-box input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  color: black;
}

.search-box .icon {
  position: absolute;
  right: 15px;
  width: 24px;
  height: 24px;
  fill: black; /* SVG fill color is black */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

/* Show icon on focus */
.search-box input:focus + .icon {
  visibility: visible;
  opacity: 1;
}