@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-text : #000000;

  --secondary-text : #ffffff;

  --bg-color : #ffffff;
--bg-color-secondary : #000000;

--bg-btn : #bbc625;
--bg-btn-secondary: #F0F2CE;
}



body {
  margin: 0 auto;
  min-width: 320px;
  color: var(--primary-text);
  background-color: var(--bg-color);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
  
}


/* Fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* This class will apply the animation */
.fade-in {
  opacity: 0;
  animation: fadeIn ease 1s;
  animation-fill-mode: forwards; /* Ensures that the final state (opacity: 1) is retained */
}






