@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-text : #000000;

  --secondary-text : #ffffff;

  --bg-color : #ffffff;
--bg-color-secondary : #000000;

--bg-btn : #CBD620;
--bg-btn-secondary: #F0F2CE;
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--primary-text);
  background-color: var(--bg-color);
}
#root {
  max-width: 1280px;
  margin: 0 ;
  padding: 2rem;
  min-height: 100vh;
  
}








